@use "variables" as v;
@use "mixins" as m;
*    {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body {
    height: 100%;
}
html {
    scroll-behavior: smooth;
  }
img {
    max-width: 100%;
}
.nav {
    @include m.phone {
        display: none;
    }
        background-color: rgba(238, 233, 233, 0.133);
    a {
        text-decoration: none;
        color: white;
    }
    width: 100%;
    position: absolute;
    justify-content: end;
    display: flex;
    ul {
        width: 20%;
        display: flex;
        list-style-type: none;
        padding: 20px;
        justify-content: space-between;
        font-size: larger;
        text-decoration: white;
      }
}
// .nav {
//     position: absolute;
//     display: flex;
//     width: 100%;
// }
// .nav-wrapper {
//     @include m.phone {
//         display: none;
//     }
//     @include m.desktop {
//         // background-color: rgba(238, 233, 233, 0.133);
//         display: flex;
//         width: 100%;
//         flex-direction: row;
//         position: absolute;
        
// } }

.bground {      /*landing page*/
    display: flex;
    background-image: url(./../assets/negative-space-black-forest-dawn.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    justify-content: center;
}
    .hamburger-menu {
        @include m.hamburger;
        @include m.desktop {
            display: none;
        }
     
    }
.front-font {
    flex-direction: column;
    position: relative;
    justify-content: center;
    text-align: center;
    top: 30%;
h1 {
    color: v.$txtColor;
    padding: 20px;
}
h2 {
    @include m.headStyle;
}
}
// --------- Buttons -----------------d
.pilen {
    @include m.btnArrows;
    i {
        color: white;
    }
}
.pilen2 {
    position: relative;
    font-size: 1.8em;
    bottom: 0;
    padding: 10px;
    @include m.desktop {
        width: 100%;
        text-align: center;
    }
    i {
        color: black;
    }
}

/*-----------------page 2 -------------------*/
.about {        
    h2 {
    padding: 30px;
    @include m.desktop {
    width: 100%;
    text-align: center;
    
    }
}
    h3 {text-align: center;
        padding: 20px;
    }
    
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include m.desktop {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    &__person {
        @include m.imgBoxes;
    @include m.desktop {
        width: 35vw;
    }
        }
    &__pic {
        @include m.imgStyle
    }
    &__detailed-info {
            background-color: lightgray;
            width: 70vw;
            border-radius: 5px;
            padding: 30px;
            margin-bottom: 40px;
        @include m.desktop {
        width: 100%;    
        }
            i {
                font-size: 40px;
            }
        }
}
/*-----------------Footer -------------------*/
.contact 
 {  
    width:100%;
    background-color: v.$secondaryColor;
    color: v.$txtColor;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-size:x-large;

    &__all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    
        @include m.desktop {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
    
    
    &__adress, &__email-tel, &__social {
    gap: 10px;
    padding-bottom: 20px;
    text-align: left;
    display:flex ;
    flex-direction: column;
    }
    &__social {
        img {width: 1em;
        margin-right: 20px;}
        a {
            color: inherit;
            text-decoration: inherit;
            margin-bottom: 5px;
            display: inherit;
        }
    }

 }
